# Directivas para hacer más profesional las rutas y reemplazar la parte de "/index.php?route=$1"

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=$1

# public/admin